<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ae" value ="VETPACS"/>
    <add key="host" value ="dicomserver.co.uk"/>
    <add key="port" value ="11112"/>
    <add key="toolkitPath" value ="C:\Users\vincent\Downloads\dcm4che-3.3.7-bin-toolkit\dcm4che-3.3.7\bin"/>
    <add key="uploadPath" value = "C:\Users\vincent\Downloads\dicom"/>
    <add key="uploadFilename" value= ""/>
  </appSettings>
</configuration>